@font-face {
    font-family: nf;
    src: url("./assets/fonts/IRANSansMobile_Medium.ttf");
}

@font-face {
    font-family: bf;
    src: url("./assets/fonts/IRANSansMobile_Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    direction: rtl;
    box-sizing: border-box;


    /* variables */
    --primary-color : #042069;
    --pale-color : #777777;
    --error-color : #cc4444;
    --title-color : #444444;
    --bg-color : #f8f8f8;
    --bottom-margin : 70px;

}

html{
    font-family: nf;
    background-color: vat(--bg-color);
}

button {
    font-family: bf;
    cursor: pointer;
}